<div class="footer">
    <table>
        <tr>
            <td>
                <div class="footbutton">
                    <a href="/Home/Index"><span class="ftbtnspan">Note Viewer</span></a>
                </div>
            </td>
            <td>
                <div class="footbutton">
                    <a href="/Home/Add"><span class="ftbtnspan">Add Note</span></a>
                </div>
            </td>
        </tr>
    </table>             
</div>
